.template {

  position: absolute;
  width: 200px;
  height: 200px;  
  top: 0;
  left: 0;
  
  transform: translate3d(0,0,0px);
/*   transform-style: preserve-3d; */

}


.template.dc-animate-in {
  
  animation: dc-default-in 350ms ease-out;
  
  
}

.template.dc-animate-out {
  
  animation: dc-default-out 350ms ease-out;
  
}

@keyframes my-custom-animation {
  
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}
