.bloom {

  position: absolute;
  width: 50px;
  height: 50px;  
  
  top: 100px;
  left: 100px;
  
  margin-left: -25px;
  margin-top: -25px;
  
  transform: translate3d(0px,0px,0px) rotate(90deg) scale(0.1);
  
  transform-style: preserve-3d;
  perspective-origin: center center;
  z-index: 11000;
  
  animation-fill-mode: both;
  
  border: none !important;

}

.bloom.dc-animate-in {
  animation: bloom-appear 10ms linear; 
}

.bloom.bloom-transform-in {
 animation: bloom-float 1000ms ease-in-out;
 animation-fill-mode: forwards;
/*  animation-delay: 0ms; */
}

.bloom .side {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 5px;
  background: #E55B0A;
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}

.bloom.remote .side {
  background: rgba(255,255,255,0.6);
  box-shadow: 0px 0px 50px rgba(30,150,220,1);
}



.bloom.dc-animate-in .xside.side-1 {
  transform: translate3d(0,-820px,0) rotate(0deg);
}
.bloom .side.side-1 {
  transform: translate3d(0,-20px,0) rotate(0deg);
}

.bloom.dc-animate-in .xside.side-2 {
  transform: translate3d(835px, -801px, 0px) rotate(60deg);  
}
.bloom .side.side-2 {
  transform: translate3d(35px, 1px, 0px) rotate(60deg);  
}

.bloom.dc-animate-in .xside.side-3 {
  transform: translate3d(835px, 841px, 0px) rotate(120deg);
}
.bloom .side.side-3 {
  transform: translate3d(35px, 41px, 0px) rotate(120deg);
}

.bloom.dc-animate-in .xside.side-4 {
  transform: translate3d(0px, 862px, 0px) rotate(180deg);
}
.bloom .side.side-4 {
  transform: translate3d(0px, 62px, 0px) rotate(180deg);
}

.bloom.dc-animate-in .xside.side-5 {
  transform: translate3d(-835px, 841px, 0px) rotate(240deg);
}
.bloom .side.side-5 {
  transform: translate3d(-35px, 41px, 0px) rotate(240deg);
}

.bloom.dc-animate-in .xside.side-6 {
  transform: translate3d(-835px, -801px, 0px) rotate(300deg);
}
.bloom .side.side-6 {
  transform: translate3d(-35px, 1px, 0px) rotate(300deg);
}




@keyframes bloom-appear {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
  }
}


@keyframes bloom-float {
  0% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) rotate(90deg) rotateY(0deg) scale(0.1);
    
  }
  
  50% {
    opacity: 0.8;
    transform: translate3d(150px, -140px, -300px) rotate(-300deg) rotateY(0deg) scale(0.5);
  }
  
  100% {
    opacity: 0.1;
    transform: translate3d(150px, -140px, -500px) rotate(-600deg) scale(1);
  }
  
}


.safari .bloom {
  transform: translate3d(0px,0,0px);
  border: 3px solid #E55B0A;
  transform-origin: center center;
  
}

.safari .bloom.remote {
  
}


