<div class="info article no-touchmove hidden-left" data-d-localize="true">
  
  <div id="voices-toggle" class="info-white">
    <div class="info-copy">voices</div>
  </div>
  
  <div id="voices-region" class="info-white">
    <div class="info-copy">regions</div>
  </div>
  
  <div id="voices-info" class="info-white">
    <div class="info-copy">info</div>
  </div>
  
  
<div id="social-share-btn" class="voices-share social socialshare info-white" data-type="small-bubbles" data-tweet-at="mozilla">
    <div class="info-copy">share</div>    
    
  </div>

  <script src="social-share/socialshare.js"></script>

  <div id="voices-data" class="info-white">
    <div class="voices-arrow"></div>
    
    <div class="sub-header" data-d-localize-key="infoMostVocal"></div>
    <div class="body-info" id="country-count">
  	  <div id="country-scroller"></div>
    </div>
    
    <div id="country-scroll-left"></div>
    <div id="country-scroll-right"></div>
    
    <div class="total-voices info-blue no-touchmove"><strong><span id="voice-count">???</span></strong></div>
   
    <div class="total-count info-blue">
      <strong><span id="user-count">?</span> 
      <span data-d-localize-key="infoConnectedNow"></span></strong>
    </div>
    
    <div id="total-count-bottom" class="info-blue"></div>
    	
    
  </div>
  
  <div id="info-data" class="info-white">
    <div class="voices-arrow"></div>
    <h3 data-d-localize-key="infoInfoHeader"></h3>
    <div class="info-text" data-d-localize-key="infoInfoCopy"></div>
  </div>
  
  
</div>



  