<div class="welcome" data-d-localize="true" data-d="hideview: welcome-msg; removeclass: right-pos/#globe; removeclass: hidden-left/.info">
  
  <div id="intro-copy">
  
    <div id="text-next" data-d-localize-key="textNext"></div>
    <div id="text-billion" data-d-localize-key="textBillion"></div>
    <div id="text-voices" data-d-localize-key="textVoices"></div>
    
    <div class="copy-lock" id="copy-1" data-d-localize-key="copy1"></div>
    <div class="copy-lock" id="copy-2" data-d-localize-key="copy2"></div>

  </div>

</div>

