<div class="world no-touchmove right-pos">

  <div id="flat-world" class="no-touchmove" data-d="(touchstart) call: triggerSound">
    <div id="flat-globe" class=""></div>
    
    <canvas id="alt-mask" class="no-touchmove" width="1000" height="1000"></canvas>
    
    <div id="word-glow" class="no-touchmove"></div>
    <div id="word-highlight" class="no-touchmove"></div>
    
    <div id="m-cta">Visit <span class="cta-bold">http://MozillaVoices.com</span> with your mobile device.</div>
    
    <div id="bloomers" class="no-touchmove"></div>
    
  </div>
  

  
  <!--
<div id="world-container" class="no-touchmove" data-d="(touchstart) call: triggerSound" style="">
  
    <div id="world-center" class="no-touchmove">
  
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
      <div class="world-panel"></div>
    
    </div>
  
  </div>
-->
  

</div>


